body{
    margin:auto;
    /* background-color: #d9b6ca;  */
    background-color: burlywood;
 }
 
 a{
   text-decoration: none !important;
 }
 
 /*Header Section*/
  header{
     height: 110px;
       /* border: 2px solid hotpink;   */
     background-color:tan;
 } 
 #welcome{
   font-size: 28px;
    text-emphasis-position: 1px;
    margin-left: 1%;
    color:black;
    
 }
 .zomato{
    height: 20px;
   width: 10px; 
   margin-left: 130px;
 }
 .zomato>img{
   height: 100px;
   width: 25%px;
   margin-top: -77px;
   margin-left: 30px;
 }
 .dropdown{
   height: 50px;
   width: 38%;
   /* border: 2px solid red;  */
   margin-left: 30%;
   margin-top: -50px;
   position: absolute;
}

select{
   height: 50px;
   width: 45%;
   color:whitesmoke;
   background-color:bisque;
   text-align: center;

}
.select1{
   color: black;
}
#buttons{
   float: right;
   margin-top: -28px;
   margin-right: 40px;
   color:#3b2632 ;
}
button{
   background-color:bisque;
   
}
#Hpage{
   color:crimson;
}
.icon{
   height: 20px;
   width: 20px;
}
   
  
 
 
 /* <!---------------------------------- SLIDERS CONTENT ---------------------------------------------------------------------> */

 #slider{
    height: 230px;
    width: 85%;
    margin-left: 7%;
    margin-top: 2%;

    /* border: 2px solid red; */
 }
 .carousel-inner{
   background-color:black;
   width: 100%;
 }
 .carousel-inner >.item >img{
    height: 230px ;
    width: 100% ;
    /* object-fit: scale-down; */
    object-fit: fill;
    
 }
 
 /* ----------------------------------- RESTAURENTS CONTENT -----------------------------------------------------------------------> */

 #outer
 {
    width: 90%;
    margin-left: 4%;
    margin-top:2%;
    /* border: 5px solid red; */
    display: inline-block;

 } 
  .inner{
    height: 710px;
    width: 20%;
    /* border: 3px solid grey; */
    float: left;
    /* overflow-y:scroll;
    overflow-x:hidden;
    scrollbar-width: 10px;
    scroll-snap-type: y mandatory; */
    background-color:bisque;
 }
 .select{
   margin-left: 1%;
 }
 .sc{
    text-align: center;
    color:green;
    font-weight: bold;
 }
 .inner1{
    /* height: 700px; */
    /* display: inline-block; */
    width: 75%;
    margin-left: 3%;
    /* border: 2px solid blue;  */
    float:left;  
 }
 .innerbox1{
   height: 250px;
   width: 49%;
   /* border: 1px solid red; */
   margin-top: 1%;
   margin-left: 0.5%;
   float: left;
   padding-bottom: 10px;
   object-fit: fill;
   background-color:burlywood;
   /* background-color: cyan; */
 }
 .innerbox1:hover{
   transform: scale(1.0);
 }
 .image{
   width: 50%;
   float: left;
   background-repeat: no-repeat;
 }
 .image>img{
   height: 90%;
   width: 100%;
 }
  .timings>h5{
   margin-top: 2%;
   margin-left: 1%;
   font-weight: bold;
 }
 
 .headings{
   float: left;
    /* width: 45%;  */
   margin-left: 1%;
   margin-top: 2%;
 }
 .mainheading{
   font-size:20px;
     font-weight: bold;
     color:blue;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .mainheading >a{
   color:black !important;
   font-weight: 100;
}

.package>a,h5{
   color: black;
   font-weight:100px;
}
 

/* <!-- ----------------------------------------FOOTER CONTENT----------------------------------------------------------------> */
 footer{
    /* border:5px groove green;  */
   background-color: #3b2632;
   color:white;
   text-align: center;
}
#social{
   float:right
}

.socialLogo{
   height:50px;
}


.footText{
   font-size:20px;
}
#flag{
   height: 20px;
   width: 20px;
}
.down{
   color:cyan;

}

.down:hover{
   color: white;
}

.footDiv{
   display: inline-block;
   width:32%;
   border-right: 2px solid white;
}

.noBorder{
   border:none
}

ul{
   list-style-type: none;
}
 